@media screen and (max-width: 768px) {
  .imageList {
    flex-direction: column;
    align-items: center;
  }

  .imageList figure {
    flex: 1 1 100%;
    max-width: 90%;
  }

  .navigation {
    width: auto;
  }
}
